.o-card {
  background-color: $base;
  border: solid 1px $border;
  &.is-danger {
    .o-card__title {
      color: $danger;
    }
  }
}

.o-card__header {
  padding: .75rem 1rem;
}

.o-card__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4;
}

.o-card__body {
  font-size: 1rem;
  padding: 1rem;
  .o-card__header + & {
    border-top: solid 1px $border;
  }
  &.has-menu {
    padding: 0;
  }
}
