.o-simple-header {
  height: inherit;
}

.o-simple-header__inner {
  height: inherit;
  padding: 0 2rem;
  display: flex;
}

.o-simple-header__start {
  flex: 0 0 20rem;
  display: flex;
  align-items: center;
}

.o-simple-header__end {
  flex: 100;
}

.a-logo {
  .o-simple-header & {
    font-size: 2.25rem;
  }
}

.m-horizontal-link-icons__items {
  .o-simple-header & {
    justify-content: flex-end;
  }
}

.a-user-icon {
  .o-simple-header & {
    width: 2.75rem;
  }
}

.m-horizontal-link-icons__item-link {
  .o-simple-header & {
    font-size: 1.5rem;
    width: 2.75rem;
    color: $main;
  }
}
