.a-form-label {
  line-height: 1.4;
  font-weight: 600;
  display: block;
}

.a-text-input {
  border: solid 1px $border;
  line-height: 1.5;
  display: block;
  width: 100%;
  min-height: 2.25rem;
  padding: .5em;
}


.a-form-select {
  border: solid 1px $border;
  display: block;
  width: 100%;
  height: 2.25rem;
  select {
    width: 100%;
    height: 100%;
    padding: .5em;
  }
}
