.m-horizontal-link-icons {
  height: 100%;
}

.m-horizontal-link-icons__items {
  height: inherit;
  display: flex;
  align-items: center;
  margin: 0 -.5rem;

}

.m-horizontal-link-icons__item {
  height: inherit;
  padding: 0 .5rem;
}

.m-horizontal-link-icons__item-link {
  height: inherit;
  @include flex-center;
  font-size: 2rem;
  position: relative;
}

.m-horizontal-link-icons__item-label {
  cursor: pointer;
}
