$header-height: 3.5rem;

.t-fbc {
  padding-left: 4.5rem;
}

.t-fbc__header {
  height: $header-height;
}

.t-fbc__sidebar {
  width: 4.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.t-fbc__main {
  background-color: $background;
  min-height: calc(100vh - #{$header-height});
}
