.t-grids {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: $i span;
  }
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down(#{$breakpoint}) {
      .col-#{$breakpoint}-#{$i} {
        grid-column: $i span;
      }
    }
  }
}

.o-card {
  .t-grids & {
    height: 100%;
  }
}
